{% extends "base.html" %}

{% block content %}
<div class="container d-flex-row flex-wrap justify-content-center">
    <h1 class="text-center">Recipes</h1>

    {% for recipe in all_recipes %}
    <a href="#" class="all_recipes" aria-label="Click to view {{recipes.title}}">
        <div class="card m-3" style="width: 18rem;">
            <img src="{{recipes.image.url}}" class="card-img-top" alt="{{recipes.image_alt}}">
            <div class="card-body">
              <h2 class="card-title">{{recipes.title}}</h2>
              <p class="card-text">{{recipes.description}}</p>
              
            </div>
          </div>
    </a>
    {% endfor%}
</div>
{% endblock%}