{% extends "base.html" %}

{% block content %}
<form method="GET">
  {{ filtered_recipe.form_as_p }}
  
  <input type="submit" value="press">
</form>
{% for recipe in filtered_recipe.qs %}
<h3>
  {{ recipe.meal_type }}
</h3>
{% endfor%}
<h1 class="text-center">Recipes</h1>
<div class="container d-md-flex flex-row flex-wrap justify-content-around">
    {% for recipe in all_recipes %}
    <a href="{% url 'recipe_details' recipe.id %}" class="recipes" aria-label="Click to view {{recipe.title}}">
        <div class="card m-3" style="width: 20rem;">
            <img src="{{recipe.image.url}}" class="card-img-top" alt="{{recipe.image_alt}}">
            <div class="card-body">
              <h5 class="card-title">{{recipe.title}}</h5>
              <p class="card-text">{{recipe.description|truncatechars:100}}</p>
              <p class="card-text">{{recipe.meal_type}}</p>
            </div>
          </div>
    </a>
    {% endfor%}
   
</div>

{% endblock%}