{% extends "base.html" %}

{% block content %}

<!-- Search input-->
<form class="d-flex justify-content-center">
  <input name="q" type="text"  class="search mt-5 col-md-3" placeholder="Search">
  <button class="btn btn-secondary mt-5" title="Search"><i class="fas fa-search"></i></button>
  <a href="{% url 'all_recipes' %}" class="btn btn-secondary mt-5"  title="Refresh"><i class="fas fa-sync-alt"></i></a>
</form>

<!--Dispaly for all recipes-->
<h1 class="text-center mt-2">Recipes</h1>
<div class="container col-md-6">
    {% for recipe in all_recipes %}
    <a href="{% url 'recipe_details' recipe.id %}" class="img-fluit" aria-label="Click to view {{recipe.title}}">
        <div class="card" >
            <img src="{{recipe.image.url}}" class="img-thumbnail"  height="300" width="300" alt="{{recipe.image_alt}}">
            <div class="card-body">
              <h5 class="card-title">{{recipe.title}}</h5>
              <p class="card-text">{{recipe.description|truncatechars:100}}</p>
              <p class="card-text">{{recipe.meal_type}}</p>
            </div> 
    </a>      
</div>
   
    {% endfor%}
      
<!-- pagination starts -->
<nav aria-label="page-navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
      {% endif %}
      {% if page_obj.number > 3 %}
        <li class="page-item">
          <a class="page-link" href="{{ request.path }}?page=1">1</a>
        </li>
      {% endif %}
      {% if page_obj.number > 4 %}
          <li class="page-item">
          <span class="page-link">....</span>
          </li>
      {% endif %}
    </li>

    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active">
          <span class="page-link">
            {{ i }}
            <span class="sr-only"></span>
          </span>
        </li>
        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
          <li class="page-item">
            <a class="page-link" href="{{ request.path }}?page={{ i }}">{{ i }}</a>
          </li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
          <li class="page-item">
              <span class="page-link">....</span>
          </li>
          <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
          </li>
      {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
          <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
          </li>
      {% endif %}  
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}"> Next</a>
      </li>
    {% endif %}
  </ul>
</nav>
<!-- pagination end -->


  
    
{% endblock %}