{% extends "base.html" %}
{% block content %}

<div class="container ">
    <div class="recipe-details">
        <h2 >{{ recipe.title }}</h2>
    </div>
     <div class="recipe-image mt-3 p-1">
        <img src="{{recipe.image.url }}" alt="{{recipe.image_alt }}">
    </div>
    <div class="recipe-container">
        <div class="ingredients p-3">
            <h2>Ingredients</h2>
            <p> <i class="fa-solid fa-clipboard fa-lg"></i> <strong>{{ recipe.meal_type }}</p></strong>
            <p>{{ recipe.ingredients|safe }}</p>
        </div>
        <div class="instructions p-3">
            <h2>Instructions</h2>
            <p>{{ recipe.instructions|safe }}</p>
        </div>
    </div>
    <div class="text-center">
        <a href="#" class="btn btn-primary w-25">Edit</a>
        <a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-danger w-25">Delete</a>
    </div>
</div>
{% endblock %}