{% extends "base.html" %}
{% block content %}

<div class="container ">
    <div class="recipe-details">
        <h2 class="text-center" >{{ recipe.title }}</h2>
    </div>
     <div class="recipe-image text-center">
        <img src="{{recipe.image.url }}"  alt="{{recipe.image_alt }}" >
    </div>
    <div class="recipe-container">
        <div class="ingredients p-3">
            <h2 class="text-center"> <i class="fa-solid fa-clipboard fa-lg"></i> Ingredients</h2>
            <p class="text-center"><strong>{{ recipe.meal_type }}</strong></p>
            <p>{{ recipe.ingredients|safe }}</p>
        </div>
        <div class="instructions p-3">
            <h2 class="text-center">Instructions</h2>
            <p>{{ recipe.instructions|safe }}</p>
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'update_recipe' recipe.id %}" class="btn btn-secondary w-25">Edit</a>
        <a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-danger w-25">Delete</a>
    </div>
</div>
{% endblock %}