body {
    background-color: antiquewhite;
}
.container{
    margin-top: 20%;
    
}
.jambotron {
    background-image: url('/static/images/jumbotron.webp');
    background-size: cover;
}
.card-shadow {
    background-color: bisque;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}