body {
    background-image: url('/static/images/Yellow\ Indian\ Food\ Mutton\ Biryani\ YouTube\ Thumbnail.png');
}
.container{
    margin-top: 20%;
    
}
.card-shadow {
    background-color: bisque;
}