 /* Google Font */
 @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,300&display=swap');
 :root {
/* Typography */

/* Colours */

    --earthyellow: #e6b56d;
    --Sunset: #f2c88b;
    --White: #ffffff;
    --copper: #a67732;
    --fielddrab: #6a4c15;
    --smokyblack: #131200;
}
/* background image */
 body {
    background-image: url("https://res.cloudinary.com/dqbbxy7oc/image/upload/v1685629143/static/images/background_image.aed1138827e3.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: var(--earthyellow);
}

.form {
    width: 100%;
    margin: 5% auto;
    box-shadow: var(--copper);
    border-radius: 5px;
}

#jumbotron {
    background-color: var(--Sunset);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
}


.recipes{
    text-decoration: none;
    color: var(--smokyblack);
}
.recipes:hover {
    cursor: pointer;
}
.btn-signup {
    background-color: var(--copper);
    color: var(--White);
}

.btn-signup:hover,
.btn-signup:active {
    background-color: var(--White);
    color: var(--fielddrab) ;
}
.logo {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
a.nav-link {
    color: black;
    text-decoration: none;
}
.link:hover,
.link:active {
    color: var(--fielddrab);
    text-decoration: underline;
}
.footer {
    background: linear-gradient(to left,#a67732,#f2c88b );
    margin-top: auto;
    height: 100px;
}
.social-media li {
    display: inline;
    padding: 15px;
    font-size: 25px;
    margin: 5px;
}
.page-item.active .page-link {
    background-color: var(--copper);
    border-color: var(--Sunset);
}
.page-item.active {
    background-color: var(--copper);
    border-color: var(--earthyellow);
    color: var(--smokyblack);
 }     

 .page-link {
    background-color:var(--Sunset);
    border-color: var(--earthyellow);
    color: var(--smokyblack);
 }
 .btn-secondary {
    background-color: var(--copper);
 }

 .btn-secondary:hover {
    background-color: var(--fielddrab)
 }

 .btn {
   color: var(--smokyblack);
   margin: 10px;
  }

 h5 {
    color: var(--smokyblack);
 }
 p.card-text {
    color: var(--smokyblack);
    font-family: 'Merriweather', serif;
 }

 a {
    color: var(--smokyblack);
 }
main {
    min-height: 80vh;
}
