{% extends "base.html" %}

{% block content %}

<div class="jumbotron jumbotron-fliud" id="jumbotron">
  <div class="container">
    <h1 class="text-center pt-4">Welcome to Recipe App</h1>
    <p class="text-center pt-4 text-dark" class=" badge text-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, possimus optio! Repellat culpa reprehenderit accusantium, debitis quae veniam earum, blanditiis iste nulla placeat repellendus facere corporis aliquid ut quia soluta.Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, possimus optio! Repellat culpa reprehenderit accusantium, debitis quae veniam earum, blanditiis iste nulla placeat repellendus facere corporis aliquid ut quia soluta.</p>
  </div>
</div>



  <div class="container d-flex flex-row flex-wrap justify-content-center">
    <div class="card h-100" style="width:22rem ">
      <img src="../static/images/card1.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

    <div class="card h-100" style="width:22rem">
      <img src="../static/images/card2.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
 
  
    <div class="card h-100" style="width:22rem">
      <img src="../static/images/card3.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lbbbb.</p>
      </div>
    </div>
  </div>

{% endblock content%}
